PORT=3000
CHROMA_API_KEY=your_chroma_api_key
CHROMA_TENANT=your_chroma_tenant_id
CHROMA_DATABASE=your_chroma_database
NOUS_API_KEY=your_nous_api_key
CEREBAS_API_KEY=your_cerebas_api_key
CEREBAS_ORG_ID=your_cerebas_org_id 