/* Reset, defaults, etc. */

* {
    --bgColor: #ffffff; /* Default light background color */
    --txtColor: #1a1818; /* Default light text color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Chat container styling */

html,
body {
    height: 100%;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--bgColor);
    color: var(--txtColor);
    font-family: serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.23em;
}

#chat-container {
    flex-grow: 1;
    overflow-y: auto;
    padding: 1em 1em 0 1em;
}

/* Chat message styling */

.message {
    padding: 0.5em 0;
}

.message:last-child {
    padding-bottom: 0;
}

.user-message {
    text-align: right;
}

.assistant-message {
    text-align: left;
}

/* Chat input styling */

#input-container {
    padding: 1em;
}

form {
    display: flex;
}

#prompt-input {
    flex-grow: 1;
    margin-right: 0.44em;
    padding: 0.88em 1.11em;
    border: none;
    outline: none;
    font-family: "Times New Roman", Times, serif;
    font-size: 1em;
    color: var(--txtColor);
    background-color: #ededed;
    border-radius: 1.11em;
}

button {
    padding: 0.5em 1.11em;
    border: none;
    outline: none;
    font-size: 1em;
    font-family: serif;
    background-color: #ededed;
    border-radius: 1.11em;
}

/* Code + preformatted text styles */

pre {
    background-color: #ededed;
    border-radius: 1.11em;
    padding: 1em;
    margin: 0.5em 0;
    overflow-x: auto;
}

code {
    font-family: monospace;
    font-size: 1em;
}

pre code {
    display: block;
}

:not(pre) > code {
    background-color: #f4f4f4;
    padding: 0.2em 0.4em;
    border-radius: 3px;
}

/* Dark mode styles */

@media (prefers-color-scheme: dark) {
    * {
        --bgColorDark: #1a1818; /* Default dark background color */
        --txtColorDark: #ffffff; /* Default dark text color */
    }

    body {
        background-color: var(--bgColorDark);
        color: var(--txtColorDark);
    }
    button {
        color: var(--txtColorDark);
        background-color: #333;
    }
    #prompt-input {
        color: var(--txtColorDark);
        background-color: #333;
    }

    /* Dark mode styles for code formatting */
    pre {
        background-color: #2d2d2d;
        border-color: #444;
    }

    code {
        color: #e6e6e6;
    }

    :not(pre) > code {
        background-color: #2d2d2d;
    }
}
